html,body
{
	width: 100%;
	height: 100%;
	text-align: center;
	background: linear-gradient(to top, #cc9900 0%, #ff3300 150%) !important;
}
.navbar
{
	border-radius: 0 !important;
	margin-bottom: 0 !important;
}
#admin-text-img
{
	width: 25px;
	height: 25px;
	display: inline;
}
#admin-header-text
{
	color: rgb(255,70,70);
	display: inline;
}
#content-div
{
	padding-top: 20px;
}
#dashboard-text
{
	padding-bottom: 20px;
	color: #432F75;
}
#dashboard-main-text
{
	display: inline;
}
#dashboard-text-img
{
	display: inline;
	font-size: 30px;
	margin-right: 10px;
}
.btn-group>.btn
{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	display: table;
}
.btn-group>.btn>.glyphicon
{
	font-size: 40px;
	padding-right: 20px;
}
.btn-group>.btn>span
{
	display: table-cell;
	vertical-align: middle;
}
.btn-group-vertical
{
	width: 100%;
}
#upload-res
{
	background-color: rgb(221,162,28);
	border-color: rgb(221,162,28);
}
#upload-res:hover
{
	background-color: rgb(201,142,8);
	border-color: rgb(201,142,8);
}
#update-eve
{
	background-color: rgb(28,221,186);
	border-color: rgb(28,221,186);
}
#update-eve:hover
{
	background-color: rgb(8,201,166);
	border-color: rgb(8,201,166);
}
#update-res
{
	background-color: rgb(221,57,28);
	border-color: rgb(221,57,28);
}
#update-res:hover
{
	background-color: rgb(201,37,8);
	border-color: rgb(201,37,8);
}
#statistics-text
{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #432F75;
}
#statistics-main-text
{
	display: inline;
}
#statistics-text-img
{
	display: inline;
	font-size: 30px;
	margin-right: 10px;
}
#num-registered,#num-completed,#num-res-upload
{
	font-size: 18px;
	padding-bottom: 10px;
	color: darkblue !important;
}
#num-registered
{
	color: #582A72;
}
#num-completed
{
	color: #582A72;
}
#num-res-upload
{
	color: #582A72;
}
#small-screen-buttons
{
	display: none;
}
#statistics
{
	background-color: white;
	padding-right: 20px;
	margin-top: 30px;
	width: 350px;
	margin-left: auto;
	margin-right: 0;
	text-align: center;
	background-color: violet;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 10px 10px 10px gray;
	position: relative;
	right: 10px;
}
@media (max-width: 950px)
{
	#small-screen-buttons
	{
		display: block;
		width: 90%;
		max-width: 450px;
	}
	#large-screen-buttons
	{
		display: none;
	}
}
